.idea

coverage
node_modules
unit_coverage
bower_components
typings

client/**/*.js
!client/**/config.js
client/**/*.js.map
server/**/*.js
!server/**/config.js
server/**/*.js.map

dist
client/dist
server/dist

npm-debug.log
